{% extends "base.html" %}
{% block content %}
<section class="home">
  <h1>Welcome to My Profile</h1>
  <h2> My name is Rehnuma Tabassum</h2>
  <h3>A dedicated fresher eager to learn and grow in the world of technology💻</h3>
  <p> I enjoy turning data into insights and combining technical problem-solving with creativity. Through
 projects, volunteering, and writing, I’ve developed strong analytical, teamwork, and communication skills. I’m
 looking forward to applying my knowledge and continuing to learn through real-world experiences💅</p>

 <h4> EDUCATION</h4>
 <p>Bangladesh University of Business and Technology (BUBT)</p>
 <p>BSc in Computer Science & Engineering — Major: Artificial Intelligence</p>
<p>Dec 2020 – Dec 2025 | CGPA: 3.06 / 4.00</p>
  <h5>Note🎀</h5>
  <p>"All my course credits will be completed by December 2025." ✅</p>
</section>
{% endblock %}






