{% extends "base.html" %}
{% block content %}
<section>
  <h2>My Projects</h2>

  <div class="project">
    <h3>Mushroom Classification (Finalist - Brainstorming Week)</h3>
    <p>Machine learning-based mushroom classification model for toxicity detection, shortlisted in the Brainstorming Week university competition.</p>
    <p>
      🔗 <a href="https://github.com/yourusername/mushroom-classification" target="_blank">GitHub Link</a><br>
      📁 <a href="https://drive.google.com/drive/folders/1mmuZLXpqwnanFfWDAYjUkT0yt6eq41jg?usp=drive_link" target="_blank">Google Drive</a>
    </p>
  </div>

 
</section>
{% endblock %}

